*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}


#inner{
    height: 80px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: blue;
}

nav #inner ul{
    list-style-type: none;
}

#logo{
    width: 100px;
    height: 70px;
    background-color: aqua;
    text-align: center;
}

#links ul{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 27px;
}

#login{
    width: 100px;
    height: 70px;

    text-align: center;

    background-color: rgb(255, 255, 255);
}

#inner2{
    padding-top: 120px;
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: blue;
}

#Title{
    color: white;
    font-size: 23px;
}

#paragraph{
    color: white;
    text-align: center;
}

#links2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 27px;
}

#whitebutton{
    background-color: white;
    padding: 15px;
    border-radius: 25px;
}

#blackbutton{
    background-color: black;
    padding: 15px;
    border-radius: 25px;
    color: white;
}

#inner3{
    padding-top: 120px;
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 150px;

    background-color: rgb(255, 255, 255);
}

#big-img{
    width: 50%;
    height: 300px;
    background-color: aqua;
    text-align: center;
}

#text-sec{
    width: 50%;
    height: 375px;
    background-color: aqua;
}

#Title2{
    font-size: 50px;
    margin-bottom: 30px;
}

#paragraph2{
    font-size: 20px;
}

#inner4{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#inner5{
    padding-top: 120px;
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: row;

    background-color: blue;
}







